<div class="card mx-3">
  <div class="card-header">AngularJS Dashboard</div>

  <div class="card-body">
    <form ng-submit="$ctrl.login()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          required
          ng-model="$ctrl.creds.username"
          ng-disabled="$ctrl.submitting"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          ng-model="$ctrl.creds.password"
          ng-disabled="$ctrl.submitting"
        />
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        ng-disabled="$ctrl.submitting"
      >
        <span
          ng-if="$ctrl.submitting"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{$ctrl.submitting ? 'Loading...': 'Login'}}
      </button>
    </form>
  </div>
</div>
