<div class="card mx-3">
  <div class="card-header">AngularJS Dashboard</div>

  <div class="card-body">
    <form name="loginForm" ng-submit="$ctrl.login()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          ng-class="{'is-invalid': loginForm.username.$invalid && loginForm.username.$dirty}"
          id="username"
          name="username"
          required
          ng-model="$ctrl.creds.username"
          ng-disabled="$ctrl.submitting"
        />
        <div class="invalid-feedback">Username cannot be empty.</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          ng-class="{'is-invalid': loginForm.password.$invalid && loginForm.password.$dirty}"
          id="password"
          name="password"
          required
          ng-model="$ctrl.creds.password"
          ng-disabled="$ctrl.submitting"
        />
        <div class="invalid-feedback">Password cannot be empty.</div>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100"
        ng-disabled="$ctrl.submitting"
      >
        <span
          ng-if="$ctrl.submitting"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        {{$ctrl.submitting ? 'Loading...': 'Login'}}
      </button>
    </form>
  </div>
</div>

<div ng-if="$ctrl.errorMessage" class="alert alert-warning mt-3" role="alert">
  {{$ctrl.errorMessage}}
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    ng-click="$ctrl.errorMessage=undefined"
  ></button>
</div>
